{% extends 'base.html' %}

{% block content %}
<h2 class="ui header">Solicitar préstamo</h2>

<div class="ui segment">
    <h3 class="ui header">Libro seleccionado:</h3>
    <div class="ui items">
        <div class="item">
            {% if libro.cover_image %}
                <div class="image">
                    <img src="{{ libro.cover_image.url }}" alt="{{ libro.titulo }}">
                </div>
            {% endif %}
            <div class="content">
                <a class="header">{{ libro.titulo }}</a>
                <div class="meta">
                    <span>{{ libro.autor }}</span>
                </div>
                <div class="description">
                    <p>ISBN: {{ libro.isbn }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="ui form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="ui primary button" type="submit">Solicitar préstamo</button>
</form>
<a href="{% url 'buscar_libros' %}" class="ui button">Volver a la búsqueda</a>
{% endblock %}