{% extends 'base.html' %}

{% block content %}

<div class="ui container">
    <h1 class="ui header">{{ book.titulo }}</h1>
    
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="user icon"></i>
                        <div class="content">
                            <div class="header">Autor</div>
                            <div class="description">{{ book.autor }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="barcode icon"></i>
                        <div class="content">
                            <div class="header">ISBN</div>
                            <div class="description">{{ book.isbn }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i>
                        <div class="content">
                            <div class="header">Fecha de publicación</div>
                            <div class="description">{{ book.fecha_publicacion }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ui six wide column">
            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" alt="{{ book.titulo }} cover" class="ui fluid image">
            {% else %}
                <div class="ui placeholder">
                    <div class="image"></div>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="ui segment">
        <a href="{% url 'book_update' book.pk %}" class="ui primary button">Editar</a>
        <a href="{% url 'book_delete' book.pk %}" class="ui red button">Borrar</a>
        <a href="{% url 'book_list' %}" class="ui button">Regresar a la lista de libros</a>
    </div>
</div>

{% endblock content %}