<div class="ui grid">
	
	<div class="computer only row">
		<div class="column">
			<div class="ui menu">
				<a class="item" href="{% url 'home' %}">Inicio</a>
				<a class="item" href="{% url 'book_list' %}">Libros</a>
				<a class="item" href="{% url 'prestamo_list' %}">Préstamos</a>
				{% if user.is_authenticated %}
				<form action="{% url 'logout' %}" method="post" style="display: inline;">
					{% csrf_token %}
					<button type="submit" class="item link"
						style="display: inline; border: none; background: none; cursor: pointer; 
						">
					Cerrar sesión</button>
				</form>
				{% else %}
				<a class="item" href="{% url 'login' %}">Iniciar sesión</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	 <div class="tablet mobile only row">
		<div class="column">
			<div class="ui menu">
				<a id="mobile_item" class="item"><i class="bars icon"></i></a>
			</div>
		</div>
	</div>

</div>
